<header>
  <a class="logo" routerLink="/">
    <img src="{{ logoSrc }}" alt="logo" />
    <div>CleanIt!</div>
  </a>

  <nav>
    <ul>
      <li *ngIf="authService.isLoggedIn"><a routerLink="/">Home</a></li>
      <li *ngIf="authService.isLoggedIn">
        <a routerLink="/createCustomer">New Order</a>
      </li>
      <li *ngIf="authService.isLoggedIn">
        <a routerLink="/orderOverview">Order Overview</a>
      </li>

      <button
        *ngIf="authService.isLoggedIn"
        mat-raised-button
        color="primary"
        (click)="logout()"
      >
        Logout
      </button>
    </ul>
  </nav>
</header>
