<!-- customer-form.component.html -->
<mat-card>
  <form
    class="customer-form"
    #createCustomerForm="ngForm"
    (ngSubmit)="onSubmit(createCustomerForm)"
  >
    <mat-card-header>
      <mat-card-title>Add Customer</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input
          matInput
          placeholder="Name"
          name="name"
          ngModel
          #name="ngModel"
          required
        />
        <mat-error *ngIf="name.invalid && name.touched"
          >Name is required</mat-error
        >
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Email"
          name="email"
          ngModel
          #email="ngModel"
          email
        />
        <mat-error *ngIf="email.invalid && email.touched"
          >Invalid email</mat-error
        >
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Phone"
          name="phone"
          ngModel
          #phone="ngModel"
          pattern="[0-9]*"
        />
        <mat-error *ngIf="phone.invalid && phone.touched"
          >Invalid phone number</mat-error
        >
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="createCustomerForm.invalid"
      >
        Add Customer
      </button>
    </mat-card-actions>
  </form>
</mat-card>
