<mat-card>
  <form
    class="customer-form"
    #newOrderForm="ngForm"
    (ngSubmit)="onSubmit(newOrderForm)"
  >
    <mat-card-header>
      <mat-card-title>New Order</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Customer</mat-label>
        <select matNativeControl name="userId" ngModel #name="ngModel" required>
          <option *ngFor="let user of users" [value]="user.id">
            {{ user.name }}
          </option>
        </select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Notes</mat-label>
        <input matInput name="notes" ngModel #phone="ngModel" />
      </mat-form-field>

      <div *ngFor="let item of items; let i = index" class="item-row">
        <mat-form-field class="item-form-field">
          <mat-label>Item:</mat-label>
          <input matInput name="item-{{ i }}" ngModel required />
        </mat-form-field>
        <button mat-raised-button (click)="removeItem(i)">Remove</button>
      </div>
      <button mat-raised-button (click)="addItem()">Add Item</button>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="newOrderForm.invalid"
      >
        Create Order
      </button>
    </mat-card-actions>
  </form>
</mat-card>
