.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

h1 {
    color: #673ab6;
    font-size: xx-large;
    font-weight: bold;
}