<div>
  <mat-card>
    <mat-card-title>Register</mat-card-title>
    <mat-card-content>
      <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
        <mat-form-field>
          <input
            matInput
            placeholder="E-mail"
            name="email"
            ngModel
            #email="ngModel"
            required
          />
          <mat-icon>message</mat-icon>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Name"
            name="name"
            ngModel
            #name="ngModel"
            required
          />
          <mat-icon>message</mat-icon>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Password"
            type="password"
            name="password"
            ngModel
            #password="ngModel"
            required
          />
          <mat-icon>lock</mat-icon>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Repeat Password"
            type="password"
            name="passwordRepeat"
            ngModel
            #passwordRepeat="ngModel"
            required
          />
          <mat-icon>lock</mat-icon>
        </mat-form-field>
        <mat-card-subtitle *ngIf="wasRegisteredSuccessfully"
          >You have succesfully been registered</mat-card-subtitle
        >
        <button
          type="submit"
          mat-raised-button
          class="login-button"
          color="primary"
          [disabled]="registerForm.invalid"
        >
          Register
        </button>
        <button mat-raised-button routerLink="/login" class="login-button">
          Back to Login
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
