<div>
  <mat-card>
    <mat-card-title>Register</mat-card-title>
    <mat-card-content>
      <form [formGroup]="registerForm">
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="E-mail"
            formControlName="email"
            required
          />
          <mat-icon>message</mat-icon>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Name"
            formControlName="name"
            required
          />
          <mat-icon>message</mat-icon>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="password"
            placeholder="Password"
            formControlName="password"
            required
          />
          <mat-icon>lock</mat-icon>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="password"
            placeholder="Repeat Password"
            formControlName="passwordRepeat"
            required
          />
          <mat-icon>lock</mat-icon>
        </mat-form-field>
        <mat-card-subtitle *ngIf="wasRegisteredSuccessfully"
          >You have succesfully been registered</mat-card-subtitle
        >
        <button
          (click)="register()"
          mat-raised-button
          class="login-button"
          color="primary"
        >
          Register
        </button>
        <button mat-raised-button routerLink="/login" class="login-button">
          Back to Login
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
